<html>
<head>
    <title>FAQ</title>
</head>
<body>
    <h1>Frequently Asked Questions</h1>
<p>
What is a DataSHIELD package?
</p>

<p>
How can I add my package to this list?
</p>

<h2>Why are retired packages listed?</h2>
<p>
    Some packages are retired but still available for use. We list them here for reference, but they are not actively maintained. If you have questions about a retired package, please contact the maintainers directly. Or, if you want to help maintain a retired package, please reach out to the maintainers to discuss how you can contribute.
</p>

<h2>That's a lot of functions</h2>
<p> Yes, it is. There is some redundancy, as e.g. most client side packages have a corresponding server side package, but sometimes there are multiple server side packages for one client side function. There are also some packages which just work on the server side. Here we list everything for completeness.</p>

</body>
</html>
