<html>
<head>
    <title>FAQ</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style_main.css">
</head>
<body>
<h1>Frequently Asked Questions</h1>

<h2>What is DataSHIELD?</h2>
<p>DataSHIELD is an open source federated analytics tool. You can read more about it at <a href="https://www.datashield.org">https://www.datashield.org</a>.</p>

<h2>What is a DataSHIELD package?</h2>
<p>DataSHIELD is an extensible ecosystem, meaning that the community can develop new packages which allow DataSHIELD to run new algorithms or interact with new data types.</p>

<h2>How can I add my package to this list or update some information?</h2>
<p>You could submit an issue (<a href="https://github.com/FederatedMethods/packages/issues">https://github.com/FederatedMethods/packages/issues</a>) or a pull request to update the csv file at <a href="https://github.com/FederatedMethods/packages/blob/main/package_list.csv">https://github.com/FederatedMethods/packages/blob/main/package_list.csv</a>. Most of this information is gathered from the package info on GitHub or the CRAN, so you may need to update the information there, then it will appear here tomorrow.</p>

<h2>Why are retired packages listed?</h2>
<p>Some packages are retired but still available for use. We list them here for reference, but they are not actively maintained. If you have questions about a retired package, please contact the maintainers directly. Or, if you want to help maintain a retired package, please reach out to the maintainers to discuss how you can contribute.</p>

<h2>That's a lot of functions</h2>
<p> Yes, it is. There is some redundancy, as e.g. most client side packages have a corresponding server side package, but sometimes there are multiple server side packages for one client side function. There are also some packages which just work on the server side. Here we list everything for completeness.</p>
</body>
<footer>
    <hr/>
    Made by the <a href="https://github.com/FederatedMethods">Federated Methods team</a>
</footer>

</html>
