html, body {
  margin:0;
  padding:0 5px 0 5px;
  width:100% - 10px;
  height:100%;
  font-family:Arial, Helvetica, Verdana, sans-serif;
  line-height:1.5;
}

body {
	overflow-y:scroll;
}

/* ==== HEADER ==== */
#main-logo {
  height: 100px;
  width: 200px;
  float:left;
  position: relative;
}

#main-logo-img {
  position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    min-height: 100px;
}


/* ==== MENU SIDE BAR ==== */
#col1 {
  padding-top: 0;
  width: 200px;
}

div.logo-additional {
  width: 100%;
  max-height: 200px;
  text-align: center;
}

/* ==== MAIN PAGE CONTENT ==== */
div#wrapper{
  /*min-height: calc( 100% - 107px - 2.75em - 2em - 1px - 50px - 39px)*/
  min-height: 200px;
}

div#content {
  position:relative;
}

/* ==== TABLE FORMATTING ==== */
table {
  width:100%;
  color:#333333;
  border-collapse: collapse;
}

table th {
  padding:4px;
  font-size:12px;
  text-transform:uppercase;
  font-weight:bold;
}

table td {
  text-align:center;
  padding:2px 4px;
  font-size:15px;
}

table td.left {
  text-align:left;
}

table td.label {
  font-weight:bold;
  text-align: right;
  width: 10em;
}

table tr:nth-child(even){
  background:#f2f2f2;
}



/* --- Unordered List --- */
div#content ul a {
  /*color:#c9002f;*/
  color: #193E72;
}


/* ==== Footer ==== */

div.clear-block {
  width:100%;
  clear:both;
  float:left;
  height:1px;
}

div.foot {
  height:50px;
  background:#efede9;
  width:100%;
  margin-top:42px;
}

.clear {
  clear:both;
}

.clear:before,
.clear:after {
  content:" ";
  display:table;
}
.clear:after {
  clear:both;
}


#pagetitle {
  margin:0;
  font-size:1.875em;
  font-size:34px;
  font-weight:normal;
  color:#193E72;
  margin-bottom: 0.75em;
  font-family: Georgia;
  line-height:1.1;
  letter-spacing: -0.01em
}

#pagetitle:after {
  margin-top: 0.5em;
  content: " ";
  height: 2px;
  border-top: 1px solid #dedcd2;
  border-bottom: 1px solid #dedcd2;
  display: block;
  padding: 0;
  width: 100%;
  margin-top: 0.65em;
}

h1 {
  color:#B01C2E;
  font-size:1.5em;
  font-weight:normal;
  line-height: 1.25em;
}

h2 {
  font-size:1.125em;
  font-weight:bold;
  line-height: 1.333em;
  margin: 1.9995em 0 0.6665em 0;
}

p, ul, ol, table {
  margin-top:0;
  margin-bottom:1.5em;
}

ol, ul {
  margin-left: 2em;
  padding-left:0;
}

ul {
  list-style-image:none;
  list-style-type: disc;
}

li {
  margin-left: 0;
  padding-left: 0
}

/* LINKS */
a:link {
  color: #193E72;
  text-decoration:underline;
}

a:visited {
  color: #193E72;
}

a:hover, a:focus {
  color: #193E72;
  text-decoration:underline;
  outline: none;
}

/* #IMAGES */
img {
  max-width: 100%;
  max-height: 100%;
}


/* #MASTER WIDTH AND CENTERING */
.width-master {
  margin:0 auto;
  max-width:1150px;
  min-width:967px;
}

/* #CLEARFIX */
#wrapper:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}

/* #HEADER */
#header-container {
  background:#FFF;
  color:#333;
  min-height:95px;
  border-bottom:1px solid #dedcd2;
  box-shadow:0 6px 6px -6px rgba(0,0,0,0.2);
  margin-bottom: 2.75em;
  position:relative;
  z-index: 505;
}

#header-container:before,
#header-container:after {
  display: block;
  visibility: visible;
}

.header {
  position:relative;
  overflow: auto;
  min-height:107px;
}


/* #MAINTITLE */
.maintitle {
  margin-left: 19.4945%;
  padding-left:1.1945%;
  /*border-left:1px solid #fff;*/
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 20%;
}
.maintitle #title1 {
  font-family:Georgia;
  display:block;
  font-weight:normal;
  font-size:1.5em;
  margin:0;
  padding:0;
  color:#FFFFFF;
  /* new */
  font-size: 24px;
}

#maintitle1 {
  margin-top:2.1em;
  margin-bottom: 1.15em;
  padding-top: 0.5em;
  padding-bottom: 0.75em;
}

#maintitle1 #title1 {
  line-height: 1.2em;
}

#maintitle2 {
  margin-top:1.6em;
  margin-bottom: 1.0em;
}

#maintitle2 #title2 {
  padding:0;
  margin:0;
  font-size: .875em;
  text-transform:none;
  font-weight:normal;
  color:#333;
}

#maintitle2 .hide {
  display:none;
  visibility:hidden;
}

#maintitle2 #title1 {
  top:0;
  margin:0;
  padding:0;
  line-height: 1.2em
}

.maintitle a,.maintitle a:visited {
  color:#FFFFFF;
  text-decoration:none;
}

.maintitle a:hover, .maintitle a:focus {
  color:#333;
  text-decoration:underline;
  background-color:transparent;
  outline: none;
}

#maintitle2 #title2 a {
  color:#666;
}

/* #WRAPPER AND CONTENT CONTAINERS */
#wrapper {
  clear:both;
  min-height:1%;
  overflow:visible;
  position: relative;
}

#content,#content-nonav {
  padding:0;
  min-height:20em;
}

#content {
  margin-left:20.823%;
}

hr {
  height:1px;
  border:none;
  color:#dedcd2;
  background-color:#dedcd2;
}

